[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==2.0.0"
matplotlib = "*"
flask = "*"
flask-debugtoolbar = "*"
pillow = "*"
python-decouple = "*"
click = "*"
requests = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
